dist: xenial
language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
jdk:
  - openjdk8
# command to install services
services:
  - elasticsearch
# command to install dependencies
install:
  - pip install --upgrade pip
  - pip install .
  - pip install "mindmeld[bot]"
  - pip install -r test-requirements.txt
before_script:
  - sleep 10
# command to run tests
script:
  - mindmeld num-parse
  - ./lintme
  - mkdir ~/test-reports
  - travis_wait 20 pytest --junitxml=~/test-reports/junit.xml --cov-report html --cov=mindmeld
