dist: xenial
language: python
python:
  - "3.5"
  - "3.6"
env:
   - MM_EXTRAS=false
jdk:
  - openjdk8
# command to install services
services:
  - elasticsearch
# command to install dependencies
install:
  - scripts/travis_install.sh
before_script:
  - sleep 10
# command to run tests
script:
  - mindmeld num-parse
  - ./lintme
  - mkdir ~/test-reports
  - travis_wait 30 pytest --junitxml=~/test-reports/junit.xml --cov-report html --cov=mindmeld
