bumpversion==0.5.3
coverage==4.2
flake8==3.2.1
pytest==3.0.5
pytest-cov==2.4.0
wheel==0.29.0
watchdog==0.8.3

future==0.16.0
jupyter_core==4.2.1
jupyter_client==4.4.0
Sphinx==1.5
nbsphinx==0.2.11
git+ssh://git@github.com/expectlabs/sphinx_rtd_theme.git@master#egg=sphinx_rtd_theme-0.1.10-alpha
pandoc==1.0.0b2
mock==2.0.0
Click>=6.0

numpy>=1.10.1
scipy>=0.9
scikit-learn==0.17.1
