coverage==4.2
flake8==3.5.0
pylint~=2.6.0
pytest>=5.4.0
pytest-cov==2.4.0
tox==2.6.0
mock==2.0.0
pytest-mock>=1.6.2
pytest-asyncio>=0.8.0
pyyaml>=5.1.1
black>=19.10b0,<22.1.0 ; python_version >= '3.6'
