.wy-side-nav-search .version {
  display: None;
}

/*
.wy-side-nav-search, .wy-nav-top {
  background-color: #eee;
}
.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a, .wy-nav-top a {
  color: #000;
}
.wy-nav-side {
  background: #eee;
}
.wy-menu-vertical a:hover {
  background-color:#fff;
}
*/